/* Chrome, Safari, Edge, Opera */
.numInput::-webkit-outer-spin-button,
.numInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numInput[type=number] {
  -moz-appearance: textfield;
}