body{
    background-color: white;
}

.h1Style{
    width: 79%;
    height: 128px;
    /* font-family: "SF Pro Text"; */
    font-style: normal;
    font-weight: 600;
    font-size: 2.9166666666666665vw;
    line-height:  4.49438202247191vw;
    color: rgb(38, 38, 38);
    margin-top: 86px;
}
.regtengle{
    /* width: 55vh; */
    width: 160%;
    height: 389px;
    background: #C4C4C4;
}
.pStyle{
width: 80%;
height: 56px;
font-style: normal;
font-weight: normal;
font-size:  0.8333333333333334vw;
line-height: 1.4583333333333333vw;
color: #8C8C8C;
margin-bottom: 5%;
}
.PrimaryButton{
    padding: 13px 24px !important;
    text-align: center !important;
    /* width: 128px !important; */
    height: 48px !important;
    margin-top: 2%;
    text-align: center;
}
.secanP{

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #262626;
}

.h2Style{
font-style: normal;
font-weight: 600;
font-size:  4.0126715945089755vh;
line-height: 46px;
color: #262626;
}

.h3Style{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;  
}

.whoIsSpan {
    display: block;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: black;
}

.Archive{
    padding: 9px 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
}

.card img {
    width: 147.5px;
    margin-left: 22%;
}

.getDown{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    margin-top: 128px;
    text-align: center;
    align-content: center;
}

.background{
    background: white !important;
}


/* @media only screen and (max-width: 1270px) {
    .pStyle{
        margin-bottom: 12%;
        font-size: 14px;
        width: 100%;
    }

  } */