.low {
    color: green ;
    background: #B7EB8F;
    border-radius: 50px;
    padding: 1px 8px
}

.medium {
    color: #874D00;
    background: #FFE58F;
    border-radius: 50px;
    padding: 1px 8px
}

.high {
    color: #820014;
    background: #FFA39E;
    border-radius: 50px;
    padding: 1px 8px
}	
