.filterSelect{
    width: 100%;
}

.ant-select-selection-placeholder{
    line-height: 35px!important;
}

.ant-select{  
width: 100%;
}

.ant-table-thead th{
    border-top: 1px solid #f0f0f0;
    background-color: #FFFFFF!important;

}
.ant-select-selector{
    height: 40px!important;
    border-radius: 4px!important;
    border: 1px solid #BFBFBF!important;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

::placeholder{
    color: #8C8C8C!important;
}

.ant-select-selection-placeholder{
    color: #8C8C8C!important;
}

.ant-select-selection-item{
    padding-top: 4px!important;
}

.ant-dropdown-link{
    font-style: normal;
    font-weight: 600;
    border-style: none;
    padding: 0 0;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.ant-table-pagination.ant-pagination {
    margin: 16px 8px!important;
    background: #FFFFFF;
}

.ant-pagination-item-link {
    border-radius: 4px!important;
}

.ant-pagination-item {
    border-radius: 4px!important;
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  body {
      background-color: #F5F5F5!important;
  }
